article {
	margin-right: auto;
	margin-left: auto;
	margin-top: 5%;
	width: 90%;
}

/* principal container */
.container {
	display: flex;
	justify-content: space-around;
}

.container > div {
	width: 47%;
}

.submenu {
	overflow-y: scroll;
	min-height: 135px;
}

.container div h3 {
	padding-left: 4%;	
}

.submenu {
	margin-top: 2.5%;
}

.submenu li {
	list-style: none;
	width: 90%;
	border-radius: 6.5px;
	padding-left: 3%;
}

.submenu li i {
	float: right;
}

i:hover {
	cursor: pointer;
}

/* quantity items*/
.quantity-object {
	font-weight: bold;
}

/* icons add */
.add-furniture i, .add-object i {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.add-furniture i:hover, .add-object i:hover {
	cursor: pointer;
}

/* cardboard container*/
.cardboard-container li {
	list-style: none;
	display: inline-block;
	width: 15%;
	padding: 0;
	margin: 0;
	text-align: center;
	border-left: 1px solid gray;
}
.cardboard-container li:first-child {
	border-left: 0px;
}
